@import "custom";
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

body{
  font-family: "lato","sans-serif";
}
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.container{
  width:95%;
  margin: 0 auto;
}
.btn-primary,.bg-primary{
  background-color: $primary !important;
}
.btn-success,.bg-success{
  background-color: $success !important;
}
.btn-danger,.bg-danger{
  background-color: $danger !important;
}

.search-box{
   #search,
  .form-control ,
  .form-control:focus{
    background-color: #E7E7E7;
    color: #000;
    font-size: 18px;
    line-height: 22px;
  }
  &:focus {
    outline: none;
  }
  button{
    background-color: rgba(0,0,0,0);
    right:40px;
    top:25%;
  } 
}

.recipes_container{   
  .card {    
    .photo{
      height: 250px;
      background-color: #C7BEBE;
      border-radius: 5px 5px 0 0;
    }
    figcaption{
      background-color: #E7E7E7 ;
      border-radius: 0 0 5px 5px;    
      .recipe_header{
        padding:10px;
        .recipe_time {
          white-space: nowrap;
          svg{
            width:25px;
            height:25px;
          }
        }
      }  
      .recipe_description {
        display: block;
        display: -webkit-box;
        -webkit-line-clamp: 10;
        -webkit-box-orient: vertical;
        max-height: 160px;
        text-overflow: ellipsis;
        overflow: hidden;
        font-family: 'Roboto';
        font-weight: 400;
        font-size: 16px;
        line-height: 100%;
        width:50%;
        margin-left: 10px;
      }
      p{
        margin-bottom: 0;
        .ingredient_title{
          font-weight: bold;
        }
      }
    }
  }
}


.drop-down {
  button{
    font-family: 'Lato';
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    padding: 25px 20px;
    border:none;
    float: left;
    width: 170px;
    text-align: left;
    position: relative;
    svg{
      fill:#fff;
      width: 20px;
      height: 20px;
      position: absolute;
      right: 10px;
      font-weight: 700;
    }
    &::after{
      border: 0;      
    }
  }
  .dropdown-menu{
    display: none;
    padding:  20px;
    border-radius: 5px;  
    input{
      padding:15px 0;
      background-color: rgba(0,0,0,0);
      color:#fff;
      font-family: 'Lato';
      font-weight: 700;
      font-size: 18px;
      line-height: 22px;
      width:200px;
      &::placeholder{
        color: #FFFFFF;
        opacity: 0.7;
      }
      &:focus-visible{
        outline-offset: 0;
        outline: 0;
      }
    }
    svg{
      width:25px;
      height: 25px;
      fill:#fff ;
      position: absolute;
      right:25px;
    }
    ul{
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      list-style: none;
      padding-left: 0;
      gap:10px;
      min-height: 100px;
      max-height: 250px; 
      overflow-y:auto;
      overflow-x: hidden;
      li{
        color: #fff;
        &.hidden{
          display: none;
        }
        &:hover{
          background-color: rgba(0,0,0,0);
          opacity:0.7;
          cursor: pointer;
        }
      }
    }
  }
}

#tags{
  img{
    width: 20px;
    height: 20px;
    fill: #fff;
    margin-left: 17px;
  }
  .tag{
    color:#fff;
    padding:10px 15px; 
    margin: 5px 10px 5px 0;
    display: inline-block;
    border-radius: 5px;
  }
}

.message-norecipes{
  display: none;
}

@media (max-width:1000px) and (min-width:581px){
  .dropdown-menu{
    ul{
      grid-template-columns: repeat(2, 50%) !important;
    }
  }
}
@media (max-width:580px) {
  .dropdown-menu{
    ul{
      grid-template-columns: repeat(1, 100%) !important;
    }
  }
}